{% extends "pandora_ultra_modern_base.html" %}
{% load static %}

{% block page_title %}{{ titulo }}{% endblock %}

{% block content_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{ titulo }}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Início</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'servicos:servico_list' %}">Serviços</a></li>
                    <li class="breadcrumb-item active">Excluir</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-danger card-outline" data-aos="fade-up">
                <div class="card-body">
                    <h4 class="text-center">Você tem certeza que deseja excluir "{{ object }}"?</h4>
                    <p class="text-center text-danger">Esta ação não poderá ser revertida!</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center mt-4">
                            <a href="{{ cancel_url|default:request.META.HTTP_REFERER }}" class="btn btn-secondary me-3">
                                <i class="fas fa-times me-1"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash me-1"></i> Sim, tenho certeza
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
