{% extends 'pandora_form_ultra_modern.html' %}
{% block page_title %}Nova Regra de Remuneração{% endblock %}
{% block form_fields %}
  {{ form.non_field_errors }}
  <div class="row g-3">
    {% for field in form %}
      <div class="col-md-6">
        <label class="form-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
        {{ field }}
        {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
        {{ field.errors }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
